{% extends "main.html" %}
{% load static %}
{% block title %}Blog{% endblock %}
{% block content %} 

<div class="blog">
    <div class="blog_new">
        <span class="blog_new_new">NEW</span>

        <p class="blog_new_title">{{ last_post.title }}</p>
        <p class="blog_new_body">{{ last_post.body }}</p>
        <a href="{{ last_post.get_absolute_url }}"><button class="blog_new_btn">Читать</button></a>
    </div>
    <div class="blog_img"> 
        {% if last_post.image %}
        {% if last_post.id == 11 %}
        <img src="https://sun9-45.userapi.com/h_RMqtUw6lnPuOTkXu02ZE4MOiQnhiB0O3vKDw/Zktw7_EvQfY.jpg">
        {% else %}
        <img src="{{ last_post.image.url }}">
        {% endif %}
        {% endif %}
    </div>
</div>
<div class="blog_posts">
    <span class="blog_posts_another">Другие статьи</span>
    <div class="blog_posts_grid">
        {% for post in posts %}
        <div class="blog_posts_grid_post">
            <span class="blog_posts_grid_post_date">{{ post.pub_date|date:"d E Y H:i" }}</span>
            <div class="blog_posts_grid_post_img">
                {% if post.image %}
                {% if post.id == 10 %}
                <img src="https://sun9-37.userapi.com/rtParv9gSdxD159PPI6pcIBoAbT7xTwmKWOFNg/w8J4tAVlSvk.jpg">
                {% else %}
                <img src="{{ post.image.url }}">
                {% endif %}
                {% endif %}
            </div>
            <a class="blog_posts_grid_post_title" href="{{ post.get_absolute_url }}"><p>{{ post.title }}</p></a>
        </div> 
        {% endfor %} 
    </div>
</div>

{% endblock %}